@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* TOPBANNER====================== */
.banner {
  background-color: #c2b697;
  color: #053661;
  font-size: 0.8rem;


}



/* NAVBAR====================== */
.nav {
  font-size: 1rem;
}

.nav .logo-image {
  max-width: 70px;
}

.nav .logo-text {
  max-width: 200px;
  margin-left: -2rem;
}

.nav .slide-in {
  background-color: #02182B;
  padding-top: 0;
  padding-top: 0;
  animation: slide-in 0.5s ease-out;

}

.nav .home {
  border-bottom: 5px solid #be7413;

}



.nav-link:hover {

  border-bottom: 5px solid #be7413;
}



.phone-icon {
  animation: ring 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes ring {
  0% {
    transform: scale(1) rotate(0deg);
  }

  10% {
    transform: scale(1.1) rotate(10deg);
  }

  20% {
    transform: scale(1) rotate(-10deg);
  }

  30% {
    transform: scale(1.1) rotate(10deg);
  }

  40% {
    transform: scale(1) rotate(-10deg);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  60% {
    transform: scale(1) rotate(-10deg);
  }

  70% {
    transform: scale(1.1) rotate(10deg);
  }

  80% {
    transform: scale(1) rotate(-10deg);
  }

  90% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}



@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* FOOTER====================== */
.foo {
  background-color: #02182B;

}

.foo .logo-image {
  max-width: 50px;
}

.foo .logo-text {
  max-width: 150px;
  margin-left: -1.5rem;
}

.footer-social {
  margin-bottom: -2rem;

}

.footer-social span {
  color: #c2b697;
  margin: 1rem;

}

.scroll-to-top {
  position: absolute;
  bottom: rem;
  right: 0.2rem;
  background-color: #c2b697;
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #C79C65ff;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  color: darkgrey;
  margin-bottom: -0.5rem;

}

/* ACASA====================== */
.home-page {
  font-size: 0.8rem;
}

.hero-section {
  background-image: url('C:\CODE YOUR FUTURE\lawyer-website\client\public\hero.jpg');
  height: 650px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgba(37, 43, 57, 0.7); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.text-container {
  position: relative;
  z-index: 1;
  margin-top: 12rem;
  margin-left: 3rem;
}

.text-1,
.text-2 {
  color: #fff;
  font-family: 'Marmelad', sans-serif;
  letter-spacing: 0.1rem;
  width: 70%;
}



.text-2 span {
  color: rgb(232, 189, 134);
  font-size: 1.3rem;
}

.text-3 {
  color: #EBE2D6ff;
  font-size: 0.9rem;
  padding-top: 4rem;
  line-height: 1.8rem;
  width: 52%;

}

.text-3 span {
  font-size: 0.7rem;

}

/* buttons-hero */

.horizontal-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;



}

#first-btn {
  background-color: #042B4E;
  color: #EBE2D6ff;
}

#first-btn:hover {
  background-color: rgb(232, 189, 134);
  color: #042B4E;
}

.horizontal-btn .btn {
  background-color: rgb(232, 189, 134);
  color: #053661;
}

.horizontal-btn .btn:hover {
  background-color: #042B4E;
  color: #EBE2D6ff;
}

.vertical-btn .btn {
  background-color: #c2b697;
  color: #053661;

}

.vertical-btn .btn:hover {
  background-color: #042B4E;
  color: #EBE2D6ff;
}



/* end buttons===== */


.text-separator {
  border-left: 3px solid #be7413;
  padding-left: 2rem;
  text-indent: 1rem;
}

/* intro */
.guide-text {
  color: #be7413;
  font-weight: 900;
}







/* services */

.services-section {
  background-image: url('C:\CODE YOUR FUTURE\lawyer-website\client\public\pillars.jpg');

  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.services-section img {
  object-fit: cover;
  width: 150px;
}

.services-overlay {
  background-color: rgba(1, 12, 34, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}

.services-content {
  position: relative;
  z-index: 1;
  color: #fff;

}

.color {
  color: #be7413;
}

.services-section .btn {
  background-color: #be7413;
  color: #042B4E;
}

.services-section .btn:hover {
  background-color: #042B4E;
  color: #be7413;
}

/* recommendation */
.recommendation {
  background-color: #E7EAEF;
}


.my-list {
  list-style-type: none;
  /* margin-left: 1rem; */
}

.my-list li {
  position: relative;
  margin-left: 25px;

}

.my-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #072e53;
  border-radius: 2px;

}

.square {
  background-color: #be7413;
  color: #fff;
  height: 8rem;
  margin-top: -3rem;



}

/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */