/* NAVBAR====================== */
.nav .logo-image {
  max-width: 70px;
}

.nav .logo-text {
  max-width: 200px;
  margin-left: -2rem;
}

.nav .slide-in {
  background-color: #272B2E;
  padding-top: 0;
  padding-top: 0;
  animation: slide-in 0.5s ease-out;

}

.nav .home {
  color: '#c2b697'
}

.nav .phone {
  font-size: 0.8rem;

}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* FOOTER====================== */
.foo {
  background-color: #272B2E;

}

.foo .logo-image {
  max-width: 50px;
}

.foo .logo-text {
  max-width: 150px;
  margin-left: -1.5rem;
}

.footer-social {
  margin-bottom: -2rem;

}

.footer-social span {
  color: #c2b697;
  margin: 1rem;

}

.scroll-to-top {
  position: absolute;
  bottom: rem;
  right: 0.2rem;
  background-color: #c2b697;
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #27bcda;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  color: darkgrey;
  margin-bottom: -0.5rem;

}

/* ACASA====================== */
.wraper {
  position: relative;
}

.message {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* .decorative-line {
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-bottom: 40px;
  margin-right: 10px;
  background-color: #c2b697;
} */

.text-separator {
  border-left: 1px solid #c2b697;
  padding-left: 2rem;
  text-indent: 1rem;
}



/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */