@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}

/* NAVBAR====================== */
.nav .logo-image {
  max-width: 70px;
}

.nav .logo-text {
  max-width: 200px;
  margin-left: -2rem;
}

.nav .slide-in {
  background-color: #02182B;
  padding-top: 0;
  padding-top: 0;
  animation: slide-in 0.5s ease-out;

}

.nav .home {
  color: ' #C79C65ff'
}

.nav .phone {
  font-size: 0.9rem;
  color: #C79C65ff;

}

.phone-icon {
  color: #C79C65ff;
}

.phone-icon {
  animation: ring 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes ring {
  0% {
    transform: scale(1) rotate(0deg);
  }

  10% {
    transform: scale(1.1) rotate(10deg);
  }

  20% {
    transform: scale(1) rotate(-10deg);
  }

  30% {
    transform: scale(1.1) rotate(10deg);
  }

  40% {
    transform: scale(1) rotate(-10deg);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  60% {
    transform: scale(1) rotate(-10deg);
  }

  70% {
    transform: scale(1.1) rotate(10deg);
  }

  80% {
    transform: scale(1) rotate(-10deg);
  }

  90% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}



@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* FOOTER====================== */
.foo {
  background-color: #02182B;

}

.foo .logo-image {
  max-width: 50px;
}

.foo .logo-text {
  max-width: 150px;
  margin-left: -1.5rem;
}

.footer-social {
  margin-bottom: -2rem;

}

.footer-social span {
  color: #c2b697;
  margin: 1rem;

}

.scroll-to-top {
  position: absolute;
  bottom: rem;
  right: 0.2rem;
  background-color: #c2b697;
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #C79C65ff;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  color: darkgrey;
  margin-bottom: -0.5rem;

}

/* ACASA====================== */
.hero-section {
  background-image: url('C:\CODE YOUR FUTURE\lawyer-website\client\public\hero.jpg');
  height: 550px;
  /* Set the height of the hero section */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.hero-overlay {
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: rgba(33, 40, 58, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.text-container {
  position: relative;
  z-index: 1;
  margin-top: 11rem;
  margin-left: 2rem;
}

.text-1,
.text-2 {
  color: #EBE2D6ff;
  padding-bottom: 1rem;
  font-family: 'Marmelad', sans-serif;
  letter-spacing: 0.1rem;
}



.text-2 span {
  color: #C79C65ff;
  font-style: italic;
}

.text-3 {
  color: #EBE2D6ff;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  width: 52%;
}

.text-3 span {
  font-size: 0.7rem;

}

/* buttons */

.hero-buttons {
  /* color: #fff; */
  position: absolute;
  left: 50%;
  bottom: 0;
  /* margin-top: -10rem; */
  transform: translateX(-50%);
  z-index: 1;



}

.hero-buttons .btn {
  background-color: #C79C65ff;
  color: #053661;
}

.hero-buttons .btn:hover {
  background-color: #042B4E;
  color: #EBE2D6ff;
}


/* .decorative-line {
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-bottom: 40px;
  margin-right: 10px;
  background-color: #c2b697;
} */

.text-separator {
  border-left: 1px solid #c2b697;
  padding-left: 2rem;
  text-indent: 1rem;
}

.presentation {
  background-color: #C79C65ff;
  color: white
}

.recomandation {
  color: white;
}

.bg-image {
  background-image: url('C:\CODE YOUR FUTURE\lawyer-website\client\public\bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: ;
}



/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */
/* FOOTER====================== */